<!DOCTYPE html>
<head>
    <title>搜尋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
{% include 'common/header.html' %}
<body>
    <form action="/accounting/search" method="POST">
        <table class="form-table">
            <tr><!-- Date -->
                <td class="form-label">日期</td>
                <td ><input type="date" id="startDate" name="startDate"><a> 至 </a><input type="date" id="endDate" name="endDate"></td>
            </tr><tr><!-- I/E -->
                <td class="form-label">收支</td>
                <td style="text-align: left;">
                    <label for="e" style="margin-right: 10px;"><input type="radio" id="e" name="ie" value="支出"  style="width: auto;" />支出</label>
                    <label for="i"><input type="radio" id="i" name="ie" value="收入" style="width: auto;"/>收入</label>
                </td>
            </tr><tr><!-- Category -->
                <td class="form-label">類別</td>
                <td>
                    <select  id="Category" name="Category" placeholder="請選擇類別">
                        <option value="" disabled>請選擇類別</option>
                    </select >
                </td><tr><!-- Detail -->
                    <td class="form-label">細項</td>
                    <td>
                        <input id="Detail" name="Detail" type="text" list="Detail_list" placeholder="請選擇細項">
                        <datalist id="Detail_list"></datalist>
                    </td>
                </tr><tr><!-- Amount -->
                    <td class="form-label">金額</td>
                    <td><input type="number" id="minAmount" name="minAmount" min="0" placeholder="請輸入最低金額"/><a> 至 </a><input type="number" id="maxAmount" name="maxAmount" min="0" placeholder="請輸入最高金額"/></td>
                </tr><tr><!-- Note -->
                    <td class="form-label">備註</td>
                    <td><input type="text" id="note" name="note" placeholder="請輸入備註，可不輸入"/></td>
                </tr>
            </tr>

            <!-- hidden -->
            <input type="hidden" id="Date" name="Date">
            <input type="hidden" id="Amount" name="Amount" />
        </table>
        <div class="button-group">
            <div>
                <input type='submit' value='搜尋' class="blue-button">
                <input type='reset'  value='重設' class="red-button">
            </div>
        </div>
    </form>
    <div class="container">
        <div class="header-section">
            <h3>搜尋結果</h3>
        </div>
        <!-- 總收支 -->
        <div class="header-section">
            <h3>總收支</h3>
        </div>
        <table >
            <thead>
                <tr>
                    <th>收入</th>
                    <th>支出</th>
                    <th>總收支</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for data in t_datas %}
                        <td >{{ data|safe }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>


        <!-- 詳細資料 -->
        <div class="header-section">
            <h3>詳細資料</h3>
        </div>
        <table>
            <thead>
                <tr>
                    {% for head in heads %}
                        <th>{{ head }}</th>
                    {% endfor %}
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                {% for data_list in datas %}
                    <tr>
                        {% for data in data_list %}
                            <td>{{ data|safe }}</td>
                        {% endfor %}
                        <td><a href="/accounting/edit/data/{{data_list[0]}}" class="small-blue-button">編輯</a></td>
                        <td><a href="/accounting/database/delete/{{data_list[0]}}" class="small-red-button" name="{{data_list[0]}}">刪除</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% include 'common/footer.html' %}

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => { 
        const acc = new accounting(document);
        acc.DynamicSelect();
        confirm_delete('.small-red-button');
    })
</script>