{% extends "common/base.html" %}

{% block title %}{{ _("Accounting")}}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="header-section">
    <a class="small-blue-button" href="/home">{{ _("Back") }}</a>
    <h3>{{ title }}</h3>
    <a class="small-blue-button" href="/accounting/add">{{ _("Add") }}</a>
</div>
{% if title == "搜尋" %}
    <form action="/accounting/search" method="POST">
        <table class="form-table">
            <tr><!-- Date -->
                <td class="form-label">日期</td>
                <td ><input type="date" id="startDate" name="startDate"> 至 <input type="date" id="endDate" name="endDate"></td>
            </tr><tr><!-- I/E -->
                <td class="form-label">收支</td>
                <td style="text-align: left;">
                    <label for="e" style="margin-right: 10px;"><input type="radio" id="e" name="ie" value="支出"  style="width: auto;" />支出</label>
                    <label for="i"><input type="radio" id="i" name="ie" value="收入" style="width: auto;"/>收入</label>
                </td>
            </tr><tr><!-- Category -->
                <td class="form-label">類別</td>
                <td>
                    <select  id="Category" name="Category" placeholder="請選擇類別">
                        <option value="" disabled>請選擇類別</option>
                    </select >
                </td><tr><!-- Detail -->
                    <td class="form-label">細項</td>
                    <td>
                        <input id="Detail" name="Detail" type="text" list="Detail_list" placeholder="請選擇細項">
                        <datalist id="Detail_list"></datalist>
                    </td>
                </tr><tr><!-- Amount -->
                    <td class="form-label">金額</td>
                    <td><input type="number" id="minAmount" name="minAmount" min="0" placeholder="請輸入最低金額"/> 至 <input type="number" id="maxAmount" name="maxAmount" min="0" placeholder="請輸入最高金額"/></td>
                </tr><tr><!-- Note -->
                    <td class="form-label">備註</td>
                    <td><input type="text" id="note" name="note" placeholder="請輸入備註，可不輸入"/></td>
                </tr>
            </tr>

            <!-- hidden -->
            <input type="hidden" id="Date" name="Date">
            <input type="hidden" id="Amount" name="Amount" />
        </table>
        <div class="button-group">
            <div>
                <input type='submit' value='搜尋' class="blue-button">
                <input type='reset'  value='重設' class="red-button">
            </div>
        </div>
    </form>
    {% else %}
    <form action="/accounting/analysis/month" method="POST">
        <table class="form-table">
            <tr><!-- Date -->
                <td class="form-label">月份</td>
                <td><input type="month" id="Date" name="Date" required></td>
                <td style="width: 50px;"><input style="margin-right: 10px; width: 50px;" type='submit' value='分析' class="blue-button"></td>
            </tr>
        </table>
    </form>
    {% endif %}
        
    <div class="container">
        
        <!-- 總收支 -->
        <h3 class="center">總收支</h3>
        {{ lib.list(["收入","支出","總收支"], t_datas) }}
        
        {% if title != "搜尋" %}<!--* Not Search -->
        <h3 class="center">支出</h3>
        {{ lib.list(e_heads, e_datas) }}

        <h3 class="center">收入</h3>
        {{ lib.list(i_heads, i_datas) }}
 
        {% endif %}
        <h3 class="center">詳細資料</h3>
        {{ lib.list(heads, datas) }}

    </div>
{% endblock %}

{% block bottom %}
<script src="{{ url_for('static', filename='utils.js') }}"></script>
{% if title == "搜尋" %}
<script>
    document.addEventListener('DOMContentLoaded', () => { 
        const acc = new accounting(document);
        acc.DynamicSelect();
        // confirm_delete('.small-red-button');
    })
</script>
{% else %}
<script>
    document.addEventListener('DOMContentLoaded', () => { 
        date = document.getElementById('Date');
        date.value = "{{ month }}";
        // confirm_delete('.small-red-button');
    })
</script>
{% endif %}
{% endblock %}

