{% extends "common/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="header-section">
    <div></div>
    <h3>{{ title }}</h3>
    <div></div>
</div>
<div class="container">
        
    {% if current_user.is_authenticated %}
    <form action="/account/edit/{{ current_user.id }}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% else %}
    <form action="/account/login" method="post">
    {% endif %}
        {% if current_user.is_authenticated %}
        <div class="center">
            <label for="file-upload" class="file-upload-label">
                <img src="/show/headshot/headshot_user_{{ current_user.id }}?folder=upload&iferror=person-circle.svg" alt="{{ login_user_name }}" class="rounded-circle" width="50" height="50">
            </label>
            <input id="file-upload" type="file" name="file" style="display: none;">

        </div>
        {% endif %}

        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <!-- <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> -->
            <div class="form-floating">
                <input name='username' type='text' id='username' autocomplete="username" maxlength='18' class="form-control" placeholder="username">
                <label for="username">帳號</label>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="input-group mb-3 has-validation">
            <div class="form-floating">
                <input name='name' type='text' id='name' autocomplete="name" class="form-control" placeholder="name" required>
                <label for="name">名稱</label>
                <div class="invalid-feedback">
                    Please choose a username.
                  </div>
            </div>
            
        </div>

        <div class="form-floating mb-3">
            <input name='role' type='text' id='role' class="form-control" placeholder="role">
            <label for="role">權限</label>
        </div>
        {% endif %}

        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-key"></i></span>
            <div class="form-floating">
                <input name='password' type='password' id='password' autocomplete="current-password" class="form-control" placeholder="password">
                <label for="password">密碼</label>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="form-floating mb-3">
            <input name='againpassword' type='password' id='againpassword' class="form-control" placeholder="againpassword">
            <label for="againpassword">再次輸入密碼</label>
            <div class="valid-feedback">
                待驗證: 密碼兩次需一樣
            </div>
          
        </div>
        {% endif %}

        <div class="button-group">
            <div>
                {% if current_user.is_authenticated %}
                <input type='submit' value='更新' class="blue-button">
                <input type='reset'  value='重設' class="red-button">
                {% else %}
                <input type='submit' value='登入' class="blue-button">
                <input type='reset'  value='重設' class="red-button">
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block bottom %}
    {% if title != _("Login") %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var username = document.getElementById('username');
            var name = document.getElementById('name');
            var role = document.getElementById('role');

            username.value = "{{ datas[1] }}";
            username.readOnly = true; 
            
            name.value = "{{ datas[2] }}";

            role.value = "{{ datas[3] }}";
            role.readOnly = true;
        })
    </script>
    {% endif %}
    <script>
        // 顯示選擇的檔案名稱
        document.getElementById('file-upload').addEventListener('change', function(e) {
            var fileName = e.target.files[0] ? e.target.files[0].name : '選擇檔案';
            document.querySelector('.file-upload-label').textContent = fileName;
        });
    </script>
{% endblock %}


