
{% extends "common/base.html" %}

{% block title %}{{ _("Record") }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="header-section">
    <a href="/record" class="small-blue-button">{{ _("Back") }}</a>
    <h3>{{ _("Add") }}</h3>
    <div></div>
</div>
<div class="container">
    <form action="/record/database/add" method="POST">

        <table class="form-table">
            <tr><!-- Date -->
                <td class="form-label">日期</td>
                <td><input type="date" id="date" name="date" value="{{ now_time().split(' ')[0] }}"></td>
            </tr><tr><!-- Detail -->
                <td class="form-label">事件</td>
                <td >
                    <input id="event" name="event" type="text" list="event_list" placeholder="請輸入事件" required>
                    {{ lib.datalist("event_list", datas, 0) }}

                </td>
            </tr><tr><!-- Note -->
                <td class="form-label">備註</td>
                <td><input type="text" id="note" name="note" placeholder="請輸入備註，可不輸入"/></td>
            </tr>

        </table>
        <div class="button-group">
            <input type='submit' value='{{ _("Add")}}' class="blue-button">
            <input type='reset'  value='{{ _("Reset")}}' class="red-button">
        </div>

    </form>
</div>
{% endblock %}

{% block bottom %}
{% endblock %}
