<!-- https://github.com/timmy90928/Home/issues/9 -->
{% extends "common/base.html" %}

{% block title %}{{ _("Travel")}}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block top %}
<style>
    #mapholder {
        position: relative;
        width: calc(100vw - 40px);
        height: calc(100vh - 70px - 40px);
        /*
        width: calc(100% - 40px);
        height: calc(100% - 70px - 40px);
        margin: 20px;
         
        top: 70px; 
        left: 0; 
        */
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div id="mapholder"></div>
</div>
{% endblock %}

{% block bottom %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var x = document.getElementById("demo");
        document.addEventListener('DOMContentLoaded', () => { 
            showPosition("{{position}}".split(';'));
        })


        function showPosition(positions) {
            var map = L.map('mapholder').setView([23.5,121.0], 8); // Initialize map.
            var name,lat,lon;

			
            // Add OpenStreetMap layer.
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);
			
            positions.forEach(position => {
                p = position.split(',');//name,lat,lon
                console.log([p]);
                L.marker([p[2],p[3]]).addTo(map).bindPopup(p[0]+"<br>日期:"+p[1]).openPopup();
            });
            
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "用戶拒絕獲取";
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "位置訊息不可用";
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "超時";
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "未知錯誤";
                    break;
            }
        }
    </script>
{% endblock %}