{% extends "common/base.html" %}

{% block title %}{{ _("Travel") }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="header-section">
        <div><a class="small-blue-button" href="/travel/search">{{ _("Search") }}</a><a style="margin-left: 20px;" class="small-blue-button" href="/travel/map">旅遊地圖</a></div>
        <h3>旅遊</h3>
        <a class="small-blue-button" href="/travel/add">{{ _("Add") }}</a>
    </div>
    {{ lib.list(heads, datas) }}
</div>
{% endblock %}

{% block bottom %}
{% endblock %}