{% extends "common/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="header-section">
    <a class="small-blue-button" href="/home">{{ _("Management") }}</a>
    <h3>{{ title }}</h3>
    <div></div>
</div>
<div class="container">
        
    <table>
        <thead>
            <tr>
                {% for head in heads %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for data_list in datas %}
                <tr>
                    {% for data in data_list %}
                        <td>{{ data|safe }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block bottom %}
{% endblock %}

