{% extends "common/base.html" %}

{% block title %}{{ _("Server File")}}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
{% endblock %}

{% block top %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="header-section">
        <form method="POST" enctype="multipart/form-data" action="/server/cloud/upload">
            <label for="file-upload" class="file-upload-label">選擇檔案</label>
            <input id="file-upload" type="file" name="file">
            <input type="submit" value="上傳">
        </form>
        <h3 class="second-title">檔案上傳</h3>
        <div></div>
    </div>
    
</div>

<div class="container">
    <div class="header-section">
        <h3 class="second-title">已上傳檔案</h3>
    </div>
    {{ lib.list(heads, files) }}
</div>

{% endblock %}

{% block bottom %}
<script>
    // 顯示選擇的檔案名稱
    document.getElementById('file-upload').addEventListener('change', function(e) {
        var fileName = e.target.files[0] ? e.target.files[0].name : '選擇檔案';
        document.querySelector('.file-upload-label').textContent = fileName;
    });
</script>
{% endblock %}
