{% extends "common/base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
<style>
    .home-title {
        background-color: #024991;
        color: white;
        text-align: center;
        padding: 15px 0px;
        width: 100%;
        display: flex;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
    }
    .panel-icons {
            display: flex; /* 使用 flexbox */
            width: 100%;
            flex-wrap: wrap; /* 允許換行 */
            gap: 20px; /* 增加圖示之間的間距 */
        }
    .panel-icon {
        display: flex;
        align-items: center;
        background-color: #fff; /* 白色背景 */
        border-radius: 8px; /* 圓角 */
        padding: 0px;
        margin: 0 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 陰影效果 */
        transition: transform 0.3s, box-shadow 0.3s; /* 動畫效果 */
        width: 100px;  
        height: 100px;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
        text-align: center;
    }
    .panel-icon:hover {
        transform: translateY(-2px); /* 懸停效果 */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .my-icons {
        width: 70px;  /* 圖示寬度 */
        height: 70px; /* 圖示高度 */
        margin: 0;
    }
    ul p {
        margin: 0; /* 去掉段落的預設邊距 */
        color: #333; /* 文字顏色 */
    }
    a {
        
        text-decoration: none;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
    }
    .home-title {
        width: 100%;
        font-size: 22px;
    }
</style>
{% endblock %}


{% block body %}


        <!-- Accounting -->
        <h3 class="home-title">{{ _('Accounting') }}</h3>
        <ul class="panel-icons">
            <li class="panel-icon">
                <a href="/accounting/analysis/month">
                    <img src="{{ url_for('static', filename='picture/bank.png') }}" alt="會計" class="my-icons" />
                    <p>{{ _('Accounting') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/accounting/add">
                    <img src="{{ url_for('static', filename='picture/add.png') }}" alt="新增資料" class="my-icons" />
                    <p>{{ _('Add') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/accounting/search">
                    <img src="{{ url_for('static', filename='picture/search.png') }}" alt="搜尋" class="my-icons" />
                    <p>{{ _('Search') }}</p>
                </a>
            </li>
        </ul>

        <!-- Other -->
        <h3 class="home-title">{{ _('Other') }}</h3>
        <ul class="panel-icons">
            <li class="panel-icon">
                <a href="/tcloud/root">
                    <img src="{{ url_for('static', filename='picture/tcloud.png') }}" alt="TCloud" class="my-icons" />
                    <p>{{ _('TCloud') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/travel">
                    <img src="{{ url_for('static', filename='picture/travel.png') }}" alt="旅遊日記" class="my-icons" />
                    <p>{{ _('Travel') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/record">
                    <img src="{{ url_for('static', filename='picture/record.ico') }}" alt="紀錄" class="my-icons" />
                    <p>{{ _('Record') }}</p>
                </a>
            </li>
        </ul>

        <!-- Server -->
        <h3 class="home-title">{{ _('Server') }}</h3>
        <ul class="panel-icons">
            
            <li class="panel-icon">
                <a href="/server/info">
                    <img src="{{ url_for('static', filename='picture/server.png') }}" alt="伺服器資訊" class="my-icons" />
                    <p>{{ _('Server Info') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/server/cloud">
                    <img src="{{ url_for('static', filename='picture/file.png') }}" alt="檔案管理" class="my-icons" />
                    <p>{{ _('File') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/account/edit/{{ current_user.id }}">
                    <img src="{{ url_for('static', filename='picture/password.png') }}" alt="個人帳號管裡" class="my-icons" />
                    <p>{{ _('User Settings') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/server/setting">
                    <img src="{{ url_for('static', filename='picture/setting.png') }}" alt="設定" class="my-icons" />
                    <p>{{ _('Settings') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/account">
                    <img src="{{ url_for('static', filename='picture/account.png') }}" alt="帳號管理" class="my-icons" />
                    <p>{{ _('User Manage') }}</p>
                </a>
            </li>
        </ul>
        
   
    
        {% if dev %}
        <!-- developer -->
        <h3 class="home-title">{{ _('Developer') }}</h3>
        <ul class="panel-icons">
            <li class="panel-icon">
                <a href="/db">
                    <img src="{{ url_for('static', filename='picture/database.png') }}" alt="資料庫" class="my-icons" />
                    <p>{{ _('Database') }}</p>
                </a>
            </li>
            <li class="panel-icon">
                <a href="/admin">
                    <img src="{{ url_for('static', filename='picture/Paomedia-Small-N-Flat-Keyring.ico') }}" alt="管理員頁面" class="my-icons" />
                    <p>{{ _('Admin') }}</p>
                </a>
            </li>
        </ul>
        {% endif %}

    

{% endblock %}


