{% extends "common/base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
<style>
    .panel-icons {
            display: flex; /* 使用 flexbox */
            flex-wrap: wrap; /* 允許換行 */
            gap: 20px; /* 增加圖示之間的間距 */
        }
    .panel-icon {
        display: flex;
        align-items: center;
        background-color: #fff; /* 白色背景 */
        border-radius: 8px; /* 圓角 */
        padding: 0px;
        margin: 0 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 陰影效果 */
        transition: transform 0.3s, box-shadow 0.3s; /* 動畫效果 */
        width: 140px;  
        height: 130px;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
        text-align: center;
    }
    .panel-icon:hover {
        transform: translateY(-2px); /* 懸停效果 */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .my-icons {
        width: 116px;  /* 圖示寬度 */
        height: 87px; /* 圖示高度 */
        margin: 0;
    }
    ul p {
        margin: 0; /* 去掉段落的預設邊距 */
        color: #333; /* 文字顏色 */
    }
    a {
        
        text-decoration: none;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
    }
    .contaner {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
{% endblock %}

{% block body %}

<div class="header-section">
    <a class="small-blue-button"  href="/">{{ _('Last') }}</a>
    <h3>{{year}}</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{year}}
        </button>
    
        <div class="dropdown-menu">
            {% for _year in range(max_year,min_year-1,-1) %}  
            <a href="/?year={{ _year }}" class="dropdown-item">{{ _year }}</a>
            {% endfor %}
        </div>
    </div>
    
</div>

<div class="album">
 
        <div class="row ">
            {% for data in datas %}  
            <div class="card-deck col-lg-3 col-md-4 col-sm-6 col-12 mb-4"><div class="card h-100  shadow-sm" ><!-- style="height: 600px; width: 332px"-->
                <img src="/show/{{ data.get('path') }}/{{ data.get('logo', 'logo.JPG') }}" alt="{{ data.get('title', 'No Title') }}" class="card-img-top img-fluid" /><!-- width="332" height="249" -->
                <div class="card-body">
                    <h5 class="card-title "><b>{{ data.get('title', 'No Title') }}</b></h5>
                    <p class="card-text">{{ data.get('text', '') }}</p><!-- place.name[current.config.get('blog/delcount',0)|int:] -->
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted">{{ data.get('date', 'No Date') }}</small>
                    <a href="/blog/{{ year }}/{{ data.get('path_name') }} " type="button" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
  
</div>


{% endblock %}

{% block bottom %}
{% endblock %}

