{% extends "common/base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block top %}
<style>
    .panel-icons {
            display: flex; /* 使用 flexbox */
            flex-wrap: wrap; /* 允許換行 */
            gap: 20px; /* 增加圖示之間的間距 */
        }
    .panel-icon {
        display: flex;
        align-items: center;
        background-color: #fff; /* 白色背景 */
        border-radius: 8px; /* 圓角 */
        padding: 0px;
        margin: 0 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 陰影效果 */
        transition: transform 0.3s, box-shadow 0.3s; /* 動畫效果 */
        width: 140px;  
        height: 130px;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
        text-align: center;
    }
    .panel-icon:hover {
        transform: translateY(-2px); /* 懸停效果 */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    .my-icons {
        width: 116px;  /* 圖示寬度 */
        height: 87px; /* 圖示高度 */
        margin: 0;
    }
    ul p {
        margin: 0; /* 去掉段落的預設邊距 */
        color: #333; /* 文字顏色 */
    }
    a {
        
        text-decoration: none;
        align-items: center; /* 垂直置中 */
        justify-content: center; /* 水平置中 */
    }
</style>
{% endblock %}

{% block body %}
{% if year %}
<div class="header-section">
    <a class="small-blue-button"  href="/">{{ _('back') }}</a>
    <h3>{{year}}</h3>
    <div></div>
</div>
{% endif %}

{% if year %}
    <ul class="panel-icons">
        {% for place in datas %}  
            <li class="panel-icon">
                <a href="/blog/{{ year }}/{{ place.name }}">
                    <img src="/show/{{ place }}/{{ current.config.get('blog/logo','logo.JPG') }}" alt={{place.name}} class="my-icons" />
                    <p>{{ place.name[current.config.get('blog/delcount',0)|int:] }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="panel-icons">
        {% for year in range(max_year,min_year-1,-1) %}  
            <li class="panel-icon">
                <a href="/blog/{{ year }}"><p>{{ year }}</p></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block bottom %}
{% endblock %}

